.chart-symbol {
    -fx-effect: null;
    -fx-border-width: 0px;
    -fx-padding: 4px;
    -fx-shape: "M0,0 H10 V10 H0 Z";

}
.chart-symbol.electrode-highlighted {
    -fx-border-color: orange;
    -fx-border-width: 4px;
    -fx-padding: 6px;
    -fx-background-color: null;
}
.chart-symbol.captured {
    -fx-background-color: black;
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
}
// unused
.chart-symbol.electrode-state-0 {
    -fx-background-color: black;
}
// used
.chart-symbol.electrode-state-1 {
    -fx-background-color: green;
}
// disabled
.chart-symbol.electrode-state-2 {
    -fx-background-color: rgba(255,0,0,0.2);
    -fx-scale-x: 0.8;
    -fx-scale-y: 0.8;
}
.chart-symbol.electrode-state-2.captured {
    -fx-scale-x: 1.0;
    -fx-scale-y: 1.0;
}
